@{
    ViewData["Title"] = "CreatePDf";
    Layout = null;
    var transactions = (List<Transaction>)Model;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImprimirTransacciones - </title>
    <link href="/css/mystyle.css" rel="stylesheet" />
</head>
<body>
    <div class="contenedor">
        <table style="width:100%">
            <tr>
                <td>
                    @*<img src="" style="width: 250px;" />*@
                    <img src="~/files/acccount.png" style="width: 200px;" />
                </td>
                <td style="text-align:right">
                    <table style="margin-right:0;margin-left:auto">
                        <tr>
                            <td>
                                <p class="title2">CUENTA: </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p></p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
        <table style="width:100%">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <p class="title">USUARIO</p>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="text">@User.Identity.Name</p></td>
                        </tr>
                    </table>
                </td>
                <td style="text-align:right">
                    <table style="margin-right:0;margin-left:auto">
                        <tr>
                            <td><p class="title">TIPO DE CUENTA</p></td>
                        </tr>
                        <tr>
                            <td><p class="text">@User.Identity.Name</p></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
        <br />

        <table class="tbproductos" style="width:100%">
            <thead>
                <tr>
                    <th class="tbth">Cuenta</th>
                    <th class="tbth" style="width:130px">Transacción</th>
                    <th class="tbth" style="width:130px">Fecha</th>
                    <th class="tbth" style="width:130px">Motivo</th>
                    <th class="tbth" style="width:130px">Monto</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in transactions)
                    {
                        <tr>
                            <td class="td-item"><p class="item">@item.Account.Name</p></td>
                            <td class="td-item"><p class="item">@item.Tipo</p></td>
                            <td class="td-item"><p class="item">@item.FechaHora</p></td>
                            <td class="td-item"><p class="item">@item.Motivo</p></td>
                            <td style="background-color:#EDF6F9; font-weight: bold"><p class="item">@string.Format("{0:N2}",item.Monto)</p></td>
                        </tr>
                    }
                }
                <tr>
                    <td colspan="3" rowspan="3" valign="bottom">
                    </td>
                </tr>
                <tr>
                    <td class="item-3">
                        <p>Total</p>
                    </td>
                    <td class="td-item" style="background-color:#EDF6F9"><p class="item">@string.Format("{0:N2}",transactions.Sum(o => o.Monto))</p></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

