@{
    var account = (Account)Model;
    var type = (List<Types>)ViewBag.Types;
}

<h2 class="text-center">Crear Cuenta</h2>


<form class="row" action="/account/create" enctype="multipart/form-data" method="post">
    <div class="input-group col-12">
        <input type="file" class="form-control" id="inputGroupFile02" name="Image">
        <label class="input-group-text" for="inputGroupFile02">Imagen</label>
    </div>

    <div class="col-12">
        <label class="form-label">Tipo</label>
        <select name="TypeId" class="form-control">
            <option value="">-- Seleccione un tipo --</option>
            @foreach (var item in type)
            {
                <option value="@item.Id">@item.Nombre</option>
            }
        </select>
    </div>

    <div class="col-12">
        <label class="form-label">Nombre</label>
        <input class="form-control" name="Name" />
        @Html.ValidationMessage("Name")
    </div>

    <div class="col-12">
        <label class="form-label">Divisa</label>
        <select class="form-control" name="Currency">
            <option value="Soles">Soles</option>
        </select>
    </div>

    <div class="col-12">
        <label class="form-label">Saldo Inicial</label>
        <div class="input-group mb-3">
            <span class="input-group-text">S/.</span>
            <input type="number" class="form-control" name="Amount" value="@account.Amount" ">
            <span class="input-group-text">.00</span>
        </div>
        @Html.ValidationMessage("Amount")
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-success" style="margin:1rem 0rem">Guardar</button>
        <a class="btn btn-danger" href="/account">Cancelar</a>
    </div>
</form>