@{
    var account = (Account)Model;
}

<h1>Editar Cuenta</h1>

<form class="row" action="/account/edit" method="post">
    <div class="col-12">
        <input type="hidden" name="Id" value="@account.Id"/>

        <label class="form-label">Tipo</label>
        <select name="TypeId" class="form-control">
            @foreach (var item in ViewBag.Types)
            {
                if (account.TypeId == item.Id)
                {
                    <option value="@item.Id">@item.Nombre</option>
                }
                else
                {
                    <option value="@item.Id">@item.Nombre</option>
                }
            }
        </select>
    </div>

    <div class="col-12">
        <label class="form-label">Nombre</label>
        <input class="form-control" name="Name" value="@account.Name" />
        @Html.ValidationMessage("Name")
    </div>

    <div class="col-12">
        <label class="form-label">Divisa</label>
        <select class="form-control" name="Currency">
            <option value="Soles">Soles</option>
        </select>
    </div>

    <div class="col-12">
        <label class="form-label">Saldo Inicial</label>
        <input type="number" class="form-control" name="Amount" value="@account.Amount" />
    </div>
    <div class="col-12">
        <br />
        <button type="submit" class="btn btn-success">Guardar</button>
    </div>
</form>